body{
    background-image: url("images/bg-desktop.svg");
    /*outline: 2px solid black;*/
    min-height: 99vh;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    background-size: 2550px;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    /*outline: 2px solid black;*/
    min-height: 96vh;
    justify-content: center;
    margin-left: 120px;
    margin-right: 200px;
    min-width: 1900px;

}

.informacion{
    display: flex;
    flex-direction: row;
    margin-top: 200px;

}
.imagenes{
    width: 54%;
    min-width: 900px;
}
.formulario{
    width: 46%;
    margin-top: 140px;
    margin-left: 100px;
    
}
.picture{
    inline-size: -webkit-fill-available;
    /*margin: 120px;*/
}

h1{
    color: rgba(255, 255, 255, 0.916);
    font-family: "poppins";
    font-weight: 600;
    font-size: 500%;
    margin-top: -60px;
}

h3{
    color: rgba(255, 255, 255, 0.836);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 278%;
    font-weight: 300;


}
button{
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    background-color:white;

    padding: 22px;
    width: 300px;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 7px 8px 0px #51159c;
    cursor: pointer;

}
button:hover{
    background-color:hsl(300, 69%, 71%);
    color: rgba(255, 255, 255, 0.836);

    
}

.fa{
    padding: 15px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
    color: rgb(255, 60, 200);
    border-color:  rgb(255, 60, 200);


 
}
.fa-facebook{
    color: white;
    border: solid;
    border-width: thin;
    border-color: rgb(242, 239, 239);
}
.fa-instagram{
   /* background: white;*/
    color: white;
    border: solid;
    border-width: thin;
    border-color: rgb(242, 239, 239);
}
.fa-twitter{
   /* background: white;*/
    color: white;
    border: solid;
    border-width: thin;
    border-color: rgb(242, 239, 239);
}

.iconos
{
    display: flex;
    justify-content: flex-end;


}

@media only screen and (max-width:2270px){
body{
    background-image: url("images/bg-mobile.svg");
    /*background-size: 1100px;*/
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 1035px;
    align-items: center;
}
.informacion{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    max-width: 1035px;

}
.imagenes{
    width: 5%;
    min-width: 690px;
}
.formulario{
    width: 64%;
    margin-top: 140px;
    margin-left: 0px;
    text-align: -webkit-center;  
}
.picture{
    inline-size: -webkit-fill-available;
    /*margin: 120px;*/
}

h1{
  

    font-size: 340%;
    margin-top: -60px;
}

h3{
    font-weight: 400;
    font-size: 228%;
}
button{
   
    width: 420px;

}
.iconos
{
 
    margin-top: 100px;
    min-width: 235px;
    justify-content: space-evenly;

}
header{
    margin-top: 30px;
}
}